<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            /*background: #333;*/
        }
        #mygrid, #opgrid {
            margin: 0 auto;
            width: 300px;
            height: 300px;
            display: block;
            position: relative;
            overflow: hidden;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
        #app {
            margin: 0 auto;
            height: 320px;
            width: 700px;
            display: block;
            position: relative;
            overflow: hidden;
            border-right: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
        .cell {
            margin: 0;
            padding: 7px 10px;
            background: #fff;
            border: 1px solid #000000;
        }
        .ship{
            background: #ccc;
        }
        .past{
            background: #ffc;
        }
        .hit{
            background: #fcc;
        }
        .sea{
             background: #fff;
         }
    </style>
    <script src="/socket.io/socket.io.js"></script><script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://www.jqueryscript.net/demo/Simple-jQuery-Plugin-For-Matrix-Style-Grid-Layout-Gridly-js/src/gridly.js"></script>
    <script>
        var clientId = "<%- clientId %>";
        var socket = io();
        var el
        socket.on('time', function(timeString) {
            el.innerHTML = 'Server time: ' + timeString;
        });
        socket.on('initSpace', function(data) {
            console.log('initSpace')
            console.log(data)
            initMyGrid(data.own);
            initOpGrid(data.opo);

        });

        socket.on('connect', function () {
            console.log('login');
            socket.emit('login',{clientId:clientId});
        });
        socket.on('msg', function (data) {
            console.log(data);
            $('#msg').text(data.msg);
        });

        socket.on('hitOp', function (data) {
            console.log('hitOp',data);
            $('#op'+data.x+'x'+data.y).removeClass('sea').addClass("hit");
        });

        socket.on('hitMy', function (data) {
            $('#ow'+data.x+'x'+data.y).removeClass('sea').addClass("hit");
        });

        socket.on('pastOp', function (data) {
            $('#op'+data.x+'x'+data.y).removeClass('sea').addClass("past");
        });

        socket.on('pastMy', function (data) {
            $('#ow'+data.x+'x'+data.y).removeClass('sea').addClass("past");
        });

        socket.on('end', function (data) {
            $('#app').empty().append($('<h1>'+data.res+'</h1>'));
        });

        socket.on('MoveRight', function (data) {
            console.log('MoveRight',data);
            $('#opgrid').on('click', '.sea', function(el) {
                console.log('FIRE')
                socket.emit('fire',{
                    clientId:clientId,
                    x: el.currentTarget.attributes.x.value,
                    y: el.currentTarget.attributes.y.value });
                $('#opgrid').off('click', '.sea');

                $('#opSpace').css('background','#fff');
            })
            $('#opSpace').css('background','#ccf');
        });



        function initMyGrid  (data) {

            mygrid = $("<div class='grid' id='mygrid' data-orientation='horizontal' data-width='200' data-height='200'>")
            $("#mySpace").empty().append(mygrid)
            mygrid.data('cols',data.width).data('rows',data.height);
            for(w=0;w<data.width;w++) {
                for(h=0;h<data.height;h++){

                    cell=$("<div class='cell' data-width='1' data-height='1'>");
                    cell.data('col',w+1).data('row',h+1);
                    cell.attr('x',h).attr('y',w).attr('id','ow'+h+'x'+w);
                    if(data.space[h][w]=='X')
                        cell.addClass("hit");
                    if(data.space[h][w]=='*')
                        cell.addClass("past");
                    if(data.space[h][w]=='#')
                        cell.addClass("ship");
                    if(data.space[h][w]=='_')
                        cell.addClass("sea");

                    mygrid.append(cell);
                }
            }
            mygrid.gridly();
        }
        function initOpGrid  (data) {

            opgrid = $("<div class='grid' id='opgrid' data-orientation='horizontal' data-width='200' data-height='200'>")
            $("#opSpace").empty().append(opgrid)
            opgrid.data('cols',data.width).data('rows',data.height);
            for(w=0;w<data.width;w++) {
                for(h=0;h<data.height;h++){

                    cell=$("<div class='cell' data-width='1' data-height='1' data-test='"+w+"'>");
                    cell.data('col',w+1).data('row',h+1);
                    cell.attr('x',h).attr('y',w).attr('id','op'+h+'x'+w);
                    if(data.space[h][w]=='X')
                        cell.addClass("hit");
                    if(data.space[h][w]=='*')
                        cell.addClass("past");
                    if(data.space[h][w]=='_')
                        cell.addClass("sea");

                    opgrid.append(cell);
                }
            }
            opgrid.gridly();
        }

        $(document).ready(function(){
            $("#app").gridly();
            el = document.getElementById('server-time');
        })
    </script>

</head>
<body>
    <p id='server-time'></p>
    <p id='msg'></p>
    <a href="/logout">new game</a>

    <div class='grid' id='app' data-orientation='horizontal' data-width='200' data-height='200' data-cols='2' data-rows='1'>
        <div class='cell' data-width='1' data-height='1' data-col='1' data-row='1' id="mySpace"></div>
        <div class='cell' data-width='1' data-height='1' data-col='2' data-row='1' id="opSpace"></div>
    </div>
</body>
</html>